* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal {
  width: 500px;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 3px #00000028;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.modal-bar {
  height: 25px;
  background-color: #1965d6;
}

.modal-content {
  padding: 20px;
}