.box {
    display: flex;
    align-items: center;

    justify-content: center;
    padding: 10px;
    border: solid 1px #000000;
    margin: 50px;
    width: 80px;
    height: 80px;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box:active {
    background-color: yellow;
    border: solid 4px #000000;

}