body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 20px;
}

.loading__block {
  background-color: lightskyblue;
}

.loading__block:nth-child(1) {
  animation: loading 2s infinite;
}
.loading__block:nth-child(2) {
  animation: loading 2s infinite 0.25s;
}
.loading__block:nth-child(3) {
  animation: loading 2s infinite 0.75s;
}
.loading__block:nth-child(4) {
  animation: loading 2s infinite 0.5s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}